.btn{
    background: transparent;
    border:none;
    border-radius: 55px;
    padding: 14px 30px;
    &.primary{
        background:var(--primary-color);
        color:white;
    }
    
    &.secondary{
        background:var(--secondary-color);
        color:white;
    }

    &.outline{
        border:1px solid black;
        color:black;
    }
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.text-xs{
    font-size: 0.95rem;
}

.text-sm{
    font-size: 1rem;
}

.text-md{
    font-size: 1.2rem;
}

.text-lg{
    font-size: 1.44rem;
}

.text-lg{
    font-size: 1.728rem;
}

.text-xl{
    font-size: 2.074rem;
}

.text-2xl{
    font-size: 2.488rem;
}

.text-3xl{
    font-size: 2.986rem;
}

.text-primary{
    color: var(--primary-color);
}

.text-white{
    color: white;
}

.text-underline{
    text-decoration: underline;
}

.text-justify{
    text-align: justify;
}

/* lists */

.list-none{
    list-style: none;
}

.bg-primary{
    background: var(--primary-color);
}

.bg-secondary{
    background: var(--secondary-color);
}

.bg-tiles{
    background: #f9f9f9;
}

.highlight{
    color:#3E54A3;
  }
